@import "./normalize.css";
@import "./button.css";
@import "./todo.css";

.main-container {
  padding: 8px;
}

.container {
  display: flex;
}

@media (min-width: 380px) and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
