.todo-container {
  min-width: 300px;
  min-height: 200px;
}

.todo-container > h3 {
  text-transform: uppercase;
}

.todo:nth-child(even) {
  background-color: #F4F0C6;
}

.todo:nth-child(odd) {
  background-color: #F5F3E6;
}

.todo:not(:first-child) {
  margin-top: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
}


